# Virtual environment
agenenvt/

# Environment variables / secrets
.env

# Python
__pycache__/
*.py[cod]
*.pyd

# Jupyter
.ipynb_checkpoints/

# Testing
.pytest_cache/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Local data
data/raw/*
data/processed/*

# Keep folder structure in Git
!data/raw/.gitkeep
!data/processed/.gitkeep

# Trained model artifacts
artifacts/models/*.joblib